* {
  font-size: large;
}

html {
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.container {
  padding: 0;
  display: grid;
  width: 50%;
  height: 50%;
  align-self: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

button {
  margin: 3px;
}

input {
  margin: 3px;
}

#inputText {
  grid-column: 1/ 5;
  padding: 14px;
  border: 1px solid black;
}

#btn0 {
  grid-column: 2;
  grid-row: 5;
}

#btnIgual {
  grid-row: 4/6;
  grid-column: 4;
}

#btnSumar {
  grid-row: 2;
  grid-column: 4;
}

#btnRestar {
  grid-row: 3;
  grid-column: 4;
}
